@media (min-width: 801px) {

    * {
        list-style: none;
        color: #ffffff;
        text-decoration: none;
    }

    body {
        height: 100vh;
        min-height: 100%;
        font-family: 'Poppins', sans-serif;
        background-color: #001c2b;
        margin: 0;
    }

    main {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-top: 50px;
    }

    main::-webkit-scrollbar {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .menu-background {
        display: none;
    }

    .div_inp {
        display: none;
    }

    .tt_cab2 {
        display: none;
    }

    .inp {
        display: none;
    }

    .search_lg {
        display: none;
    }

    .insta_lg {
        display: none;
    }

    .voltar_set {
        display: none;
    }

    .menu-background {
        display: none;
    }

    .list_cell {
        display: none;
    }

    .carousel {
        display: none;
    }

    .pesquisaa {
        display: none;
    }

    .cabecalho {
        background-color: rgb(0, 0, 0);
        background-size: cover;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .cab1 {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-right: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .ads {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .adss {
        width: 40px;
    }

    .input_d {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .excluir-x {
        position: absolute;
        display: flex;
        margin-right: 25px;
        height: 27px;
        border-right: solid 1px #fff;
        opacity: 0.8;
    }

    .excluir-x i {
        display: flex;
        font-size: 25px;
        align-self: center;
        opacity: 0.8;
        cursor: pointer;
    }

    .input_d input {
        width: 160px;
        height: 27px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgba(139, 139, 139, 0.233);
    }

    .input_d input[type="text"] {
        color: #ffffff;
        padding-left: 10px;
    }

    .input_d input[type="text"]:focus {
        background-color: #ffffff83;
        border: solid 1px #ffffff;

    }

    .input_d input[type="text"]:focus::placeholder {
        color: #ffffff;
    }

    .input_d input::placeholder {
        color: #ffffff;
        font-size: 15px;
    }

    .input_d button {
        position: absolute;
        background-color: transparent;
        height: 28px;
        color: white;
        border: none;
        cursor: pointer;
    }

    .input_d button:hover {
        background-color: #126383;
        color: #ffffff;
        border-radius: 0px 10px 10px 0px;

    }

    .ads,
    .input_d {
        width: 200px;
    }

    .menu-overlay {
        display: none;
    }

    .elements_list {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .elements_list ul {
        list-style: none;
    }

    .nao_ordenada {
        display: flex;
        justify-content: center;
        transform: translateX(-20px);
    }

    .nao_ordenada li:not(:first-child) {
        margin-left: 20px;
    }

    .list_itens a {
        font-size: 18px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    /*cabeçalho cor*/

    .list_itens .inicio_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }

    .list_itens .atletica_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }

    .list_itens .noticias_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }

    .list_itens .sobre_text {
        color: #1999cc;
        border-bottom: 0.1rem solid #126383;
    }

    .sec001 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .sec001 div h2 {
        text-align: center;
        font-size: 30px;
        color: #00ffd5;
    }

    .sec001 div p {
        text-align: justify;
    }

    .sec001 div p span a {
        color: #ff7300;
        text-decoration-line: underline;
        cursor: pointer;

    }

    .Grade_curricular {
        width: 100%;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #00000044;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .infor_curso {
        position: relative;
        display: flex;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 10px;
        height: 300px;
        min-width: 600px;
        margin-right: 40px;
    }

    .in2 div {
        display: flex;
        align-items: center;
    }

    .in2 div p {
        font-size: 15px;
    }

    .in2 {
        margin-top: 20px;
    }

    .in2 div i {
        font-size: 25px;
        margin-bottom: 0;
        margin-right: 20px;
    }

    .voltar_ant {
        display: none;
    }

    .dv_info {
        width: 250px;
        height: 35px;
        display: flex;
        justify-content: center;
        background-color: #001c2b;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 5px;
        position: absolute;
        top: -20px;
        font-size: 20px;
    }


    .dv_info h3 {
        color: #ff7300;
    }

    .grade-prin {
        position: relative;
        display: flex;
        justify-content: center;
        height: 300px;
        border: 1px solid #fff;
        border-radius: 10px;
        display: flex;
        background-color: #95a8b67e;
        min-width: 600px;

    }

    #periodo1 ul li {
        font-size: 15px;
    }

    @media (max-width: 1585px) {
        .Grade_curricular {
            width: 100%;
            margin-top: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: #00000044;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .infor_curso {
            width: 60%;
        }

        .grade-prin {
            width: 60%;
            margin-left: -40px;
            margin-top: 100px;
        }

        #periodo1 ul li {
            font-size: 18px;
        }

    }

    .bols {
        top: 1px;
        position: absolute;
        z-index: 200;
        height: 300px;
        left: -20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .bols div {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        align-self: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .bols div.active {
        opacity: 1;
    }

    .bols div i {
        color: #008cff;
    }

    .matriz_curricular {
        width: 250px;
        height: 35px;
        display: flex;
        justify-content: center;
        background-color: #001c2b;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 5px;
        position: absolute;
        top: -20px;
        font-size: 20px;
        z-index: 201;

    }

    .periodos {
        width: 30%;
        border: none;
    }

    .periodos div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 50px;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
    }

    .periodos div p {
        color: #00ffd5;
        text-shadow: 2px 1px 2px #000000;
        cursor: pointer;
    }

    #periodo1 {
        z-index: 2;
    }

    .cor1 {
        background-color: #001c2b;
        color: #e0e0e03b;
        transition: background-color 01s ease, color 0.5s ease;
    }

    .cor2 {

        color: #fcfcfc3b;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .info_geral {
        width: 100%;
        background-color: #001c2b;
        position: relative;
        border-radius: 10px;
    }

    .info_geral div {
        position: absolute;
        background-color: #001c2b;
        height: 300px;
        width: 70%;
        display: flex;
        align-items: center;
        padding-left: 20%;

    }

    .info_geral div ul li {
        font-size: 18px;
    }

    .info_geral div ul li:not(:last-child) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2px;
    }

    .frases {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
        margin-bottom: 100px;
        height: 80px;
        border-radius: 5px;
        border: solid 1px #00ffd5;
        background-clip: padding-box;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background: linear-gradient(100deg, #00ffd5b7, #0011ff, #00ffd5b7);
        background-size: 200% 50%;
        animation: movi 6s linear infinite;
    }

    .frases-title {
        position: absolute;
        top: -20px;
        width: 200px;
        height: 30px;
        background-color: #001c2b;
        border: 1px solid #00ffd5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes movi {
        0% {
            background-position: 0% 100%;
        }

        100% {
            background-position: 200% 100%;
        }
    }

    .frases div p {
        color: #ffffff;
    }

    .perguntas001 {
        background-color: #376e8b46;
        border-top: solid 1px #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .perguntas001 div h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #00aeff;
    }

    .details {
        border-bottom: 1px solid #ffffff3a;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .details div {
        width: 100%;
    }

    .details summary strong {
        color: #ffffff;
        text-align: justify;
    }

    .details p {
        color: #ffffff;
        text-align: justify;
        opacity: 0.8;
        padding-top: 5px;
    }

    summary {
        cursor: pointer;
        text-align: justify;
    }


    summary::-webkit-details-marker {
        display: none;
    }

    summary::before {
        content: "▶ ";
        font-size: 15px;
        color: #00f8d7;
    }

    details[open] summary::before {
        content: "▼ ";
    }




    footer {
        background-color: #03060f;
        height: 190px;
    }

    .div_rs {
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;
    }

    .div_rs2 {
        position: relative;
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .sociais {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .sociais i {
        display: grid;
        color: #000000;
        background-color: #ffffff;
        width: 35px;
        height: 35px;
        font-size: 20px;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        background-size: 200% 100%;
        animation: mov2 6s infinite;
    }

    .sociais i:hover {
        opacity: 0.8;
        background-color: #000000;

    }

    .borderr1 {
        position: absolute;
        margin-left: -55px;
    }

    .borderr2 {
        margin-right: -55px;
        position: absolute;
    }

    .borderr1, .borderr2 {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
        animation: alternate 1s ease-in;
    }

    .borderr1:hover, .borderr2:hover {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        animation: ani 0.3s ease-in;
    }

    @keyframes ani {
        0% {
            width: 35px;
            height: 35px;
        }

        50% {
            width: 36.5px;
            height: 36.5px;
        }

        100% {
            width: 38px;
            height: 38px;
        }

        50% {
            width: 36.5px;
            height: 36.5px;
        }

        0% {
            width: 35px;
            height: 35px;
        }

    }

    @keyframes mov2 {
        0% {
            color: #00ffd5;
        }

        48% {
            color: #006eff;
        }

        100% {
            color: #00ffd5;
        }

    }

    .footer_top {
        background: linear-gradient(90deg, #00ffd5, #006eff, #00ffd5);
        width: 100%;
        height: 5px;
        background-size: 200% 100%;
        animation: mov 6s linear infinite;
    }

    @keyframes mov {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }

    footer p {
        text-align: center;
        line-height: 0.7;
    }

    footer p a {
        color: #0b9bd4;
        text-decoration: underline;
    }

    .footerp001 {
        margin-top: -10px;
    }

    .copy {
        opacity: 0.8;
        font-size: 13px;
        line-height: 1px;
    }

    .results {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #results div h3 {
        text-align: center;
        color: #ff9100;
    }

    .varrr {
        height: 80%;
        width: 100%;
        display: flex;
    }

    .the_process_prin {
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .the_process1,
    .the_process2,
    .the_process3 {
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        animation: mudarOpacidade 2 infinite;
        border: 1px solid #fff;
    }

    .the_process1 {
        background-color: #00b7ff;
        animation: mudarOpacidade1 2s infinite;
    }

    .the_process2 {
        background-color: #00b7ff;
        animation: mudarOpacidade2 2s infinite;
    }

    .the_process3 {
        background-color: #00b7ff;
        animation: mudarOpacidade3 2s infinite;
    }

    @keyframes mudarOpacidade1 {
        0% {
            opacity: 1;
        }

        30% {
            opacity: 0;
        }

        70% {
            opacity: 1;
        }
    }

    @keyframes mudarOpacidade2 {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        80% {
            opacity: 1;
        }
    }

    @keyframes mudarOpacidade3 {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 0;
        }

        90% {
            opacity: 1;
        }
    }



    .the_process_prin div:not(:last-child) {
        margin-right: 5px;
    }


}