/*Formatação DeskTop*/

@media (max-width: 800px) {


    * {
        color: #ffffff;
        border: none;
        background: none;
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        animation: fadeIn 1s ease-in-out;
    }

    body {
        overflow-y: auto;
        -ms-overflow-style: none;
        font-family: 'Poppins', sans-serif;
        background-color: #001c2b;
        margin: 0;
        padding: 0;
        height: 100%;
        padding-bottom: 1px;
    }

    main::-webkit-scrollbar {
        display: none;
    }

    .results {
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    #results div h3 {
        text-align: center;
        color: #ff9100;
    }

    .varrr {
        height: 500px;
        width: 100%;
        display: flex;
    }

    .the_process_prin {
        display: flex;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .the_process1,
    .the_process2,
    .the_process3 {
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        animation: mudarOpacidade 2 infinite;
        border: 1px solid #fff;
    }

    .the_process1 {
        background-color: #00b7ff;
        animation: mudarOpacidade1 2s infinite;
    }

    .the_process2 {
        background-color: #00b7ff;
        animation: mudarOpacidade2 2s infinite;
    }

    .the_process3 {
        background-color: #00b7ff;
        animation: mudarOpacidade3 2s infinite;
    }

    @keyframes mudarOpacidade1 {
        0% {
            opacity: 1;
        }

        30% {
            opacity: 0;
        }

        70% {
            opacity: 1;
        }
    }

    @keyframes mudarOpacidade2 {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        80% {
            opacity: 1;
        }
    }

    @keyframes mudarOpacidade3 {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 0;
        }

        90% {
            opacity: 1;
        }
    }



    .the_process_prin div:not(:last-child) {
        margin-right: 5px;
    }

    .sec_pesquisa {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pesquisaa {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #001c2b;
        z-index: 4000;
        overflow-y: auto;
        display: none;

    }

    .input_pesquisa {
        display: flex;
        width: 100%;
        height: 25px;
        position: fixed;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        padding-top: 20px;
        border-bottom: solid 1px #ffffff65;
    }

    .form_input2 input {
        width: 250px;
        height: 35px;
        display: flex;
        justify-content: end;
        padding: 0;
        outline: none;
    }

    .input_alternativo2:focus {
        border: none;
    }

    .form_input2 input[type="text"]:focus {
        border: none;
    }

    .form_input2 input:focus {
        border: none;
    }

    .form_input2 input[type="text"] {
        color: #ffffff;
        padding-left: 30px;

    }

    .form_input2 {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .pesqui {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;
        margin-right: 20px;
    }

    .hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 30px;
        margin-top: 15px;
        margin-right: 5px;
        border: none;
        display: none;
        z-index: 100;
        cursor: pointer;
    }

    .hidden i {
        font-size: 18px;
    }

    .hidden i:active {
        font-size: 16px;
        opacity: 0.5;
    }

    .excluir-x2 {
        height: 20px;
        width: 40px;
        margin-top: 23px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: solid 1px #ffffff25;
        cursor: pointer;
    }

    .excluir-x2 i {
        display: flex;
        font-size: 25px;
        align-self: center;
        opacity: 0.8;
        cursor: pointer;
    }

    .voltar_set2 {
        position: fixed;
        z-index: 4001;
        width: 30px;
        height: 30px;
        font-size: 25px;
        left: 5%;
        display: flex;
        top: 18px;
        cursor: pointer;
    }

    .voltar_set2 i:active {
        font-size: 23px;
        opacity: 0.5;
    }

    .elements_list {
        display: none;
    }

    .menu-overlay {
        display: none;
    }

    .menu-overlay.active {
        display: flex;
    }

    .menu-background {
        display: none;
    }

    .nav_list {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: #021722;
        z-index: 2000;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 30px;
        height: 100%;
        display: none;
        border-right: solid 1px #ffffff5d;
    }

    .info_ads {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        opacity: 0.7;
    }

    .info_ads p {
        font-size: 12px;
    }

    .info_ads .p002 {
        font-size: 10px;
        margin-left: 15px;
        opacity: 0.5;
    }

    .info_ads img {
        margin-left: 10px;
        width: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
        justify-items: center;
        margin-bottom: -10px;
    }

    .nav_list li {
        margin-bottom: 30px;
    }

    .nav_list li a i {
        margin-right: 15px;
    }

    #ix02 {
        margin-right: 11px;
    }

    .nav_list li a {
        font-size: 18px;
        display: flex;
        align-items: center;
    }



    .nav_list li a:active {
        opacity: 0.5;
    }

    .nav-appear {
        opacity: 0;
        transform: translatex(-20px);
        transition: opacity 0.5s, transform 0.5s;
    }

    .nav-appear-active {
        opacity: 1;
        transform: translatex(0);
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        left: 20px;
        top: 25px;
        width: 27px;
        height: 27px;
        z-index: 1050;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;


    }

    .mobile-menu img:active {
        width: 25px;
        height: 25px;
        opacity: 0.5;
    }

    .mobile-menu img {
        width: 27px;
    }

    .search_lg {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: end;
        text-align: end;
        right: 20px;
        top: 27px;
        width: 27px;
        height: 27px;
        z-index: 1010;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .search_lg i {
        font-size: 19px;
    }

    .search_lg i:active {
        font-size: 17px;
        opacity: 0.5;
    }

    .menu-background {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1111;
    }

    .cabecalho {
        width: 100%;
        z-index: 1000;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        padding-bottom: 0px;
        background-color: rgb(0, 0, 0);
    }

    #cab1 {
        display: none;
    }

    .cab2 {
        position: fixed;
        display: grid;
        background-color: rgb(0, 0, 0);
        border: none;
        width: 100%;
        padding-top: 10px;
        height: 55px;
        align-items: center;
        z-index: 1000;
    }

    .tt_cab2 {
        text-align: center;
        font-size: 18px;
        color: #1999cc;
    }

    .inp button {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        right: 20px;
        top: 25px;
        width: 27px;
        height: 27px;
        z-index: 1011;
        background: none;
        border: none;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
    }

    .inp button i:active {
        font-size: 17px;
        opacity: 0.5;
    }

    .div_inp {
        position: fixed;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        background-color: #000000;
        z-index: 3100;
        display: flex;
        justify-content: center;
        display: none;
    }

    .menu_inp {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 90;
        margin-top: 55px;
    }

    .inputtt {
        display: flex;
        justify-content: end;
        margin-bottom: 10px;
        margin-top: 10px;

    }

    .inputtt input {
        width: 235px;
        height: 31px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgba(139, 139, 139, 0.233);
    }

    .inputtt input[type="text"] {
        color: #ffffff;
        padding-left: 10px;
    }

    .inputtt input[type="text"]:focus {
        background-color: #ffffff83;
        border: solid 1px #ffffff;

    }

    .inputtt input[type="text"]:focus::placeholder {
        color: #ffffff;
        font-size: 15px;
    }

    .inputtt input::placeholder {
        color: #ffffff;
    }

    .excluir-x {
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 30px;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        display: none;
    }

    .excluir-x::after {
        content: '';
        height: 70%;
        border-left: solid 1px #ffffff38;
    }

    .excluir-x i {
        display: flex;
        font-size: 25px;
        align-self: center;
        opacity: 0.8;
        cursor: pointer;
    }

    .inputtt button {
        position: absolute;
        background-color: transparent;
        height: 31px;
        width: 30px;
        color: white;
        border: none;
        cursor: pointer;
    }

    .inputtt button:active {
        background-color: #ffffff62;
        color: #ffffff;
        border-radius: 0px 10px 10px 0px;

    }

    .inputtt button i:active {
        color: #001c2b;
    }

    .ads {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 25px;
    }

    .ads a img {
        width: 45px;
        margin-top: 0;
    }

    .input_d {
        display: none;
    }


    .carousel {
        position: relative;
        overflow: hidden;
        width: 95%;
        max-width: 600px;
        top: 80px;
        margin: auto;
    }

    .carousel-slide {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 300%;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 33.33%;
    }

    .carousel-item:first-child {
        justify-content: flex-start;
        margin-left: 0;
    }

    .carousel-item:nth-child(2) {
        justify-content: center;
    }

    .carousel-item:last-child {
        justify-content: flex-end;
        margin-right: 0;
    }

    .carousel-item a {
        background-color: transparent;
    }

    .carousel-item a img {
        max-width: 94%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-radius: 10px;
        height: auto;
        object-fit: contain;
    }

    button.prev,
    button.next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.123);
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.767);
        font-size: 28px;
        border: none;
        padding: 10px 6px 10px 6px;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s;
    }

    button.next:active {
        background-color: #ffffff;
        color: #000000;
    }

    button.prev:active {
        background-color: #ffffff;
        color: #000000;
    }

    button.prev {
        left: 10%;
    }

    button.next {
        right: 10%;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

    .carousel-indicators .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
    }

    .carousel-indicators .dot.active {
        background-color: #008cff;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 33.33%;
        position: relative;
        overflow: hidden;
    }

    .carousel-item img {
        max-width: 94%;
        border-radius: 5px;
        height: auto;
        object-fit: contain;
        position: relative;
    }

    .sec001 {
        margin-top: 150px;
        padding-left: 20px;
        padding-right: 20px
    }

    .sec001 h2 {
        text-align: center;
        margin-bottom: 15px;
        color: #ff7300;
    }

    .fasec1 {
        color: #ff7300;
        border-bottom: 0.5px solid;
        cursor: pointer;
    }

    .gradient001 {
        background: linear-gradient(#001c2b, #00000044);
        width: 100%;
        height: 30px;
        margin-top: 50px;
    }

    .gradient002 {
        background: linear-gradient(#00000044, #001c2b);
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
    }

    .sec001 p {
        text-align: justify;
    }


    .Grade_curricular {
        padding: 20px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #00000044;
    }

    .infor_curso {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px #fff;
        border-radius: 5px;
    }

    .dv_info {
        position: absolute;
        margin-top: -22px;
        background-color: #001c2b;
        padding: 0px 5px 0px 5px;
        margin-bottom: 30px;
        border: solid 1px #fff;
        border-radius: 5px;
    }

    .in2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .infor_curso div h3 {
        text-align: center;
        color: #ff7300;
    }

    .infor_curso div div {
        display: flex;
        align-items: center;
    }

    .infor_curso div div i {
        font-size: 25px;
    }

    .infor_curso div div p {
        font-size: 18px;
        margin-left: 20px;
    }

    .bols {
        top: 1px;
        position: absolute;
        z-index: 200;
        height: 250px;
        left: -20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bols div {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        align-self: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .bols div.active {
        opacity: 1;
    }

    .bols div i {
        color: #008cff;
    }

    .periodos {
        width: 30%;
        height: 250px;
        display: grid;
    }

    .periodos div {
        border-radius: 5px 0px 0px 5px;
    }

    #periodo1 {
        z-index: 2;
    }

    .periodos div {
        text-align: center;
        align-self: center;
        height: 41.66px;
    }

    .info_geral {
        width: 100%;
        background-color: #126383;
        padding-right: 0;
    }

    .periodos div p {
        color: #00ffd5;
        text-shadow: 2px 1px 2px #000000;
    }

    .info_geral div ul li:not(:last-child) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1px;
    }

    .info_geraldiv div ul {
        list-style-type: square;
    }

    .info_geral div ul li {
        font-size: 12px;
        color: #ffffff;

    }

    .info_geral div ul li:not(:last-child) {
        margin-bottom: 5px;
    }

    .grade-prin {
        background-color: #95a8b67e;
        height: 250px;
        border: solid 2px #ffffff;
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
    }

    .matriz_curricular {
        position: absolute;
        z-index: 101;
        display: flex;
        width: 138px;
        height: 30px;
        background-color: #001c2b;
        border: 1px solid #fff;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
    }

    .matriz_curricular p {
        color: #00ffd5;
    }

    .grade-prin .info_geral {
        right: 0;
        width: 70%;
    }

    .info_geral {
        background-color: #001c2b;
        border-radius: 0px 5px 5px 0px;
    }

    .info_geral div {
        position: absolute;
        display: flex;
        align-items: center;
        width: 55%;
        height: 245px;
        padding-left: 20px;
        background-color: #001c2b;
        margin-top: 2px;
    }

    .cor1 {
        background-color: #001c2b;
        color: #e0e0e03b;
        transition: background-color 01s ease, color 0.5s ease;
    }

    .cor2 {
        
        color: #fcfcfc3b;
        transition: background-color 0.5s ease, color 0.5s ease;
    }


    .div-style {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frases {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
        margin-bottom: 100px;
        height: 80px;
        border-radius: 5px;
        border: solid 1px #00ffd5;
        background-clip: padding-box;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background: linear-gradient(100deg, #00ffd5b7, #0011ff, #00ffd5b7);
        background-size: 200% 50%;
        animation: movi 6s linear infinite;
    }

    .frases-title {
        position: absolute;
        top: -20px;
        width: 200px;
        height: 30px;
        background-color: #001c2b;
        border: 1px solid #00ffd5;
        border-radius: 5px
    }


    @keyframes movi {
        0% {
            background-position: 0% 100%;
        }

        100% {
            background-position: 200% 100%;
        }
    }

    .frases div p {
        color: #ffffff;
    }


    .bt_variavel {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        left: 90%;
        top: 15px;
        width: 25px;
        height: 25px;
        z-index: 2;
        border: none;
        font-size: 17px;
    }

    .perguntas001 {
        background-color: #376e8b46;
        border-top: solid 1px #fff;
        padding: 20px;
    }

    .perguntas001 div h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #00aeff;
    }

    .details {
        border-bottom: 1px solid #ffffff3a;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .details div {
        width: 100%;
    }

    .details summary strong {
        color: #ffffff;
        text-align: justify;
    }

    .details p {
        color: #ffffff;
        text-align: justify;
        opacity: 0.8;
        padding-top: 5px;
    }

    summary {
        cursor: pointer;
        text-align: justify;
    }


    summary::-webkit-details-marker {
        display: none;
    }

    summary::before {
        content: "▶ ";
        font-size: 15px;
        color: #00f8d7;
    }

    details[open] summary::before {
        content: "▼ ";
    }

    footer {
        background-color: #03060f;
        height: 180px;
    }

    .div_rs {
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        padding-top: 10px;
    }

    .sociais {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }



    .sociais i {
        display: grid;
        background-color: #fff;
        width: 35px;
        height: 35px;
        font-size: 20px;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        background-size: 200% 100%;
        animation: mov2 6s infinite;
    }

    .sociais i:active {
        opacity: 0.8;
        color: #0b9bd4;
        background-color: #ffffff59;
    }

    .footer_top {
        background: linear-gradient(90deg, #00ffd5, #006eff, #00ffd5);
        width: 100%;
        height: 5px;
        background-size: 200% 100%;
        animation: mov 6s linear infinite;
    }

    @keyframes mov {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }

    @keyframes mov2 {
        0% {
            color: #00ffd5;
        }

        48% {
            color: #006eff;
        }

        100% {
            color: #00ffd5;
        }

    }

    footer p {
        text-align: center;
        line-height: 2;
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer p a {
        color: #0b9bd4;
        text-decoration: underline;
    }

    .footer_turma {
        line-height: 1.2;
    }

    .copy {
        opacity: 0.6;
    }

}

@media (max-width: 999px) {}